<?php
/**
 * Usage:
 * File Name: config.php
 * Author: annhe  
 * Mail: i@annhe.net
 * Created Time: 2017-05-04 17:44:55
 **/

$config = array();
// api链接地址
$config['api'] = "http://xxx.net/api.php";
$config['rooturl'] = "http://xxx.net/";
// engine类型
$config['engine'] = array();
// 禁用某些engine
$config['disabled'] = array('asy');
// 代码保存路径
$config['cache']['code'] = "./cache/code/";
// 图片保存路径
$config['cache']['image'] = "./cache/images/";
// 错误图片
$config['error'] = "error.png";
$config['node_path'] = "/usr/lib/node_modules";
